@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

:root {
    --primary-color: #ADD8E6;  /* light blue*/
    --secondary-color: #000080; /*navy */
    --text-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ADD8E6;
    color: var(--text-color);
}

.container {
    padding:10px 10%;
}

#home {
    width: 100%;
    height: 100vh;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    font-size: 20px;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    position: relative;
    right: 60px;
    color: var(--secondary-color);
}

.admin-image{
    border-radius: 50%;
    max-width: 35%;
    display: block;
    margin: 40px auto 20px auto;
}

.content {
    text-align: center;
}

nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0px;
    height: 3px;
    background: var(--secondary-color);
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}


