@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

:root {
    --primary-color: #9376E0;  /* lavender*/
    --secondary-color: #FF55BB; /*pink */
    --text-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    color: var(var(--text-color));
}
